<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yogasutra.android.com.patanjali">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ys_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Introduction"
            android:label="@string/introduction"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yogasutra.android.com.patanjali.MainActivity" />
        </activity>
        <activity
            android:name=".Chapter1"
            android:label="@string/chap1"
            android:theme="@style/AppTheme.NoActionBar" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="yogasutra.android.com.patanjali.MainActivity" />
        </activity>
        <activity
            android:name=".Chapter2"
            android:label="@string/chap2"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yogasutra.android.com.patanjali.MainActivity" />
        </activity>
        <activity
            android:name=".Chapter3"
            android:label="@string/chap3"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yogasutra.android.com.patanjali.MainActivity" />
        </activity>
        <activity
            android:name=".Chapter4"
            android:label="@string/chap4"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="yogasutra.android.com.patanjali.MainActivity" />
        </activity>
    </application>

</manifest>